.canvas_img{
    height: auto;
    width: 500px;
}

@media only screen and (max-width: 600px) {
    .canvas_img{
        height: auto;
        width: 250px;
    }
  }

  #particles-js {
    position : absolute;
    width:100%;
    height:100%;
}